
  <body>
   <nav class="navbar navbar-dark navbar-expand-xxl ">
                    <div class="container-fluid">
                      <a class="navbar-brand px-4" href="#"> <i class="far fa-snowflake"aria-hidden="true"></i> Weather_App</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav px-4 ms-auto ">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/weather">Weather</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                          </li>
                        </ul>
                     
                      </div>
                    </div>
                  </nav>  