 {{>head}}
 {{>navbar}}
     

    <!-- main header -->
    <div class="conatainer-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                       <p>Welcome to Weather App</p>
                       <h1>Get The Latest <span>Weather</span> Info of Your City</h1>
                       <a href="/weather"><button>Check Now</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <img src="./images/weather-n56.jpg" class="img-fluid" alt="">
                    </div> 
                </div>
            </div>
        </div>
    </div>

{{>footer}}    


    